# Локальные файлы SDK (разные на каждом компьютере)
local.properties

# Файлы сборки (пересоздаются при компиляции)
*/build/
build/
.gradle/
.cxx/
.externalNativeBuild/
captures/

# Файлы Android Studio (пересоздаются при открытии проекта)
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Временные файлы
*.log
*.lock
*.swp
*.swo
*~